div{
  background-color: rgba(34, 56, 67, 0.5);
  width: 200px;
  height: 200px;
  margin: 50px;
  display: inline-block;
}

.border1 {
  border: 5px solid rgba(34, 56, 67, 0.5);
}
.border2 {
  border: 5px dashed rgba(34, 56, 67, 0.5);
}
.border3 {
  border: 5px dotted rgba(34, 56, 67, 0.5);
}
